.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TeamMember {
  width: 15vw;
  height: 15vw;
  margin: 20px 0;

  .Image {
    height: 75%;
    width: auto;

    object-fit: cover;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  h1 {
    font-size: 22px;
    font-weight: 600;

    margin: 5px 0;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;

    margin: 5px 0;
  }
}

@media only screen and (max-width: 600px) {
  .TeamMember {
    width: 45vw;
    height: 45vw;

    margin: 15px 0;

    .Image {
      height: 80%;
    }

    h1 {
      font-size: 16px;
    }

    h2 {
      font-size: 14px;
    }
  }
}
