.Team {
  .Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .CampusDescription {
    width: 60%;
    display: inline-block;
  }

  .Campus {
    width: 40%;
    margin: 20px;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    object-fit: cover;
  }
}

@media only screen and (max-width: 1050px) {
  .Team {
    margin-bottom: 20px;
    .Row {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    .Campus {
      width: 80%;
    }

    .CampusDescription {
      width: 80%;
    }
  }
}
