.Team {
  .Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .image-gallery-description {
    right: 0;
    bottom: auto;
    left: auto;
    top: 8px;
  }

  .image-gallery,
  .image-gallery-slides,
  .image-gallery-slide img {
    width: 600px;

    object-fit: cover;
    margin: 0 auto;

    outline: none;

    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(black, 0.1);
  }

  .image-gallery-left-nav,
  .image-gallery-right-nav {
    opacity: 0.5;
  }

  .image-gallery-left-nav:hover,
  .image-gallery-right-nav:hover {
    opacity: 100%;
  }

  .image-gallery-bullet {
    box-shadow: none;
  }
}

@media only screen and (max-width: 1050px) {
  .Team {
    margin-bottom: 20px;
    .Row {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }

    .image-gallery,
    .image-gallery-slides,
    .image-gallery-slide img {
      width: 320px;
      height: auto;

      object-fit: cover;

      outline: none;

      border-radius: 5px;
      box-shadow: 0 5px 15px rgba(black, 0.1);
    }
  }
}
