.Header {
  height: 80px;
  width: 100%;
  z-index: 200;

  position: fixed;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 250px;
  box-sizing: border-box;

  background-color: black;
  box-shadow: 0px 1px 5px #27272780;

  a,
  img {
    height: 95%;

    align-self: center;
    cursor: pointer;
  }

  .SectionLinks {
    display: flex;

    a,
    p {
      margin: 0;
      font-weight: 500;
      color: white;
      text-decoration: none;
      border-radius: 3px;

      &:hover {
        background: rgba(255, 255, 255, 0.15);
      }
    }

    p {
      padding: 12px 26px;
    }
  }
}

@media only screen and (max-width: 1050px) {
  .Header {
    height: 60px;
    padding: 0 20px;

    transition: all 0.2s linear;

    .SectionLinks {
      height: 100%;
      a {
        height: fit-content;
      }

      p {
        font-size: 12px;
        padding: 6px 12px;
        width: fit-content;

        &:active {
          background: rgba(255, 255, 255, 0.15);
        }
      }
    }
  }
}
