.Timeline {
  .Row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .Title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    h1 {
      text-align: left;
    }
  }

  .fb-post {
    background: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 10px;
    height: fit-content;
  }
}

@media only screen and (max-width: 1050px) {
  .Timeline {
    .Row {
      flex-direction: column;
    }

    .Title {
      align-items: center;

      h1 {
        text-align: center;
      }
    }

    .fb-post {
      margin-top: 10px;
    }
  }
}
