.Timeline {
  background-color: #e3e3e3;
}

.element {
  text-align: left;

  img,
  video {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 0.25em;
  }

  p {
    margin: 0.25em 1em;
  }

  .Footer {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 1em;
  }

  h4 {
    margin: 15px 1em 0 1em;
    font-weight: 100;
  }

  .vertical-timeline-element-content {
    padding: 0 0 1em 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .element {
    .vertical-timeline-element-content {
      padding: 0;
    }
  }
}
