.Partners {
  .Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .Logo {
    max-height: 80px;
    max-width: 250px;
  }

  a {
    display: flex;
    align-items: center;

    margin: 20px 15px;
  }
}

@media only screen and (max-width: 1050px) {
  .Partners {
    .Logo {
      max-width: 42vw;
      max-height: 70px;
    }

    a {
      display: flex;
      align-items: center;

      margin: 8px 10px;
    }
  }
}
