.Partners {
  .Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .Logo {
    max-height: 115px;
    max-width: 370px;
  }

  a {
    display: flex;
    align-items: center;

    margin: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .Partners {
    .Row {
      flex-wrap: wrap;
    }

    .Logo {
      max-width: 40vw;
      max-height: 80px;
    }

    a {
      display: flex;
      align-items: center;

      margin: 8px 10px;
    }
  }
}
