.Section {
  padding: 0 140px 20px 140px;
  box-sizing: border-box;
  border-bottom: 3px solid lightgray;

  h1 {
    font-weight: 400;
    font-size: 50px;
    margin: 20px 0;
  }
}

@media only screen and (max-width: 1050px) {
  .Section {
    padding: 0;
    height: fit-content;

    h1 {
      margin: 16px 0 8px 0;
      font-size: 30px;
    }
  }
}
