.Section {
  padding: 0 230px 20px 230px;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  h1 {
    font-size: 45px;
    font-weight: 500;
    margin: 20px 0;

    color: #151922;
  }
}

@media only screen and (max-width: 1050px) {
  .Section {
    padding: 0;
    height: fit-content;

    h1 {
      margin: 16px 0 8px 0;
      font-size: 30px;
    }
  }
}
