.Experiment {
  text-align: left;
  padding: 0 15%;

  .Row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    margin-bottom: 18px;
  }

  img,
  video {
    max-height: 400px;
    max-width: 33.3%;
    object-fit: cover;
    margin: 0 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }

  p {
    text-align: justify;
    font-size: 18px;
    margin: 0;
    margin-bottom: 18px;
  }

  h1 {
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin: 36px 0 12px 0;
  }

  h2 {
    margin: 0;
    margin-bottom: 6px;
    font-weight: 500;
  }
}

@media only screen and (max-width: 600px) {
  .Experiment {
    padding: 0 5%;

    .Row {
      flex-wrap: wrap;
    }

    img,
    video {
      max-width: 80vw;
      margin: 10px 0;
    }

    p {
      font-size: 14px;
    }

    h1 {
      font-size: 25px;
      margin: 12px;
    }

    h2 {
      font-size: 20px;
    }
  }
}
