.App {
  width: 100%;
  text-align: center;
  background-color: #e3e3e3;
}

.Modal {
  position: absolute;
  top: 0;
  left: 140px;
  right: 140px;
  bottom: 0px;
  background-color: #e3e3e3;
  outline: none;
  overflow: scroll;
  overflow-x: hidden;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 80%;
}

/* Scrollbars */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  position: absolute;
  right: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}
